[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/lattice-theme"]
	path = themes/lattice-theme
	url = git@github.com:mobyvb/lattice-hugo-theme.git
