/* sun and moon icons from https://feathericons.com */
/* todo credits */

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color: lightblue;
}

body.night {
    background-color: black;
}

.night #bg {
    /*background-image: linear-gradient(#20202c, #cd82a0);*/
    /* stars background made with help of tutorial: https://www.maketecheasier.com/create-space-scenes-in-gimp/ */
    background-image: url(/images/stars2.jpg);
    background-repeat: repeat;
}
.night #fg {
    background-image: url(/images/tiledbgblack.png);
}
.night #shell {
    background-color: black;
    color: white;
}
.day #bg {
    background-image: linear-gradient(#9795EF, #F9C5D1);
}
.day #bg2 {
    background-image: url(/images/clouds.png);
}
.day #fg {
    background-image: url(/images/tiledbg.png);
}
.day #shell, .day .content-section {
    background-color: white;
    color: black;

}

#bg, #bg2 {
    background-repeat: repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
}

#fg {
    background-repeat: repeat;
    background-size: 250px 230px;
    position: absolute;
    width: 100%;
    top: 0;
    min-height: 100%;
    /* todo foreground min height 100% */
    /* make foreground match height of content somehow */
}

#shell, .content-section {
    background-color: black;
    color: white;
    width: 500px;
    margin: 50px auto;
    padding: 10px 30px;
    /* todo use clamp for width */
}

#header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    padding: 10px 20px;
}
#header h1 {
    margin: 0;
    display: inline-block;
}
#header a {
    color: black;
}
.night #header a {
    color: white;
}
#nav {
    display: inline-block;

    width: 100px;
    float: right;
}
.night #header {
    background-color: black;
    color: white;
    border-bottom: 1px solid white;
}
#bg-controls button {
    background-image: url("/images/sun.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 30px 30px;
    border: none;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
}
#bg-controls button:hover {
    background-image: url("/images/sun-fill.svg");
}
.night #bg-controls button {
    background-image: url("/images/moon-white.svg");
}
.night #bg-controls button:hover {
    background-image: url("/images/moon-white-fill.svg");
}
#bg-controls {
    width: 50px;
    float: right;
}    